@tailwind base;
@tailwind components;
@tailwind utilities;


/* castom color */
.color{
  color: #21BF73;
}
.btn-color{
  background-color: #21BF73;
  color: white;
}
/* header.js file css */
ul li{
  cursor: pointer;
  transition: border .2s;
  border: 1px solid #0e21a000;
  padding: 0 8px;
}
ul li:hover{
color: #0E21A0;
border: 1px solid #001493;
border-radius: 2px;
background-color: #bdbdbd7e;
}
